<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <extensions>
    <add assembly="Exceptionless.NLog" />     
  </extensions>
 
  <targets async="true">
    <target xsi:type="Exceptionless"
            name="exceptionless"
            apiKey="改成專案所使用的 API KEY"
            serverUrl="http://exceptionless-t.evertrust.com.tw">
    </target>
  </targets>
 
  <rules>
    <logger name="*" minlevel="Info" writeTo="exceptionless">
      <filters>
        <when condition="starts-with(logger, 'Microsoft')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
